@model CVWebsite.Models.ContactModel

<!-- header
    ================================================== -->
<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="index.html"><img src="images/logo.png" alt="Homepage"></a>
    </div>

    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "smoothscroll", href = "#home" })</li>
            <li>@Html.ActionLink("About", "Index", "Home", null, new { @class = "smoothscroll", href = "#about" })</li>
            <li>@Html.ActionLink("Contact", "Index", "Home", null, new { @class = "smoothscroll", href = "#contact" })</li>
        </ul>
    </nav>

    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

</header> <!-- end s-header -->

<!-- home
================================================== -->
<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="images/space.png" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    <div class="home-content">

        <div class="row home-content__main">

            <h1>
                George Feighan
            </h1>
            <h3>
                Software Developer
            </h3>

            <div class="home-content__buttons">
                @Html.ActionLink("More About Me", "Index", "Home", null, new { @class = "smoothscroll btn btn--stroke", href = "#about" })
                @Html.ActionLink("Contact me", "Index", "Home", null, new { @class = "smoothscroll btn btn--stroke", href = "#contact" })
            </div>

            <div class="home-content__scroll">
                @Html.ActionLink("Scroll Down", "Index", "Home", null, new { @class = "scroll-link smoothscroll", href = "#about" })
            </div>

        </div>

    </div> <!-- end home-content -->

    <ul class="home-social">
        <li>
            <a href="https://www.linkedin.com/in/george-feighan/"><i class="im im-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
        </li>
    </ul>
    <!-- end home-social -->

</section> <!-- end s-home -->
<!-- about
================================================== -->
<section id="about" class="s-about target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>About</h3>
            <h1>More About Me</h1>
            <p class="lead">I am a Physics graduate of the University of Bristol, working as a software developer since 2016. I have demonstrated an ability to work flexibly in different sectors using both .NET and LAMP stacks across the full development lifecycle. </p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h3>Hello</h3>

            <p>Thank you for taking the time to visit my website. Hopefully this will let you know a bit more about me and the skills I have to offer.</p>

            <p>
                As a physics graduate, I have developed strong analytical skills that have allowed me to approach issues in a logical manner. While at University I particularly enjoyed and excelled at the C programming modules, where I solved computational problems ranging from differential calculus to orbital simulation. From here I realised that software development was the career choice for me.
            </p>

            <p>
                Since graduating I have worked as a software developer, where I have quickly taken on new skills to deliver effective solutions for our clients. I have always integrated quickly to the new working environment, collaborating with others at a design level, through to implementation, delivery and troubleshooting. 
            </p>

            <p>
                I thrive on finding innovative and elegant solutions to complex problems, working effectively both independently and within a larger team. With my technical ability and excellent communication skills, I have received excellent feedback from clients for the value I provide to their business.
            </p>
        </div>

        <div class="col-six tab-full right">
            <h3>Top Technical Skills</h3>

            <ul class="skill-bars">
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>C#</strong>
                </li>
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>SQL</strong>
                </li>
                <li>
                    <div class="progress percent65"><span>65%</span></div>

                    <strong>Python</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>PHP</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>HTML</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>CSS</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>JavaScript</strong>
                </li>
                <li>
                    <div class="progress percent65"><span>65%</span></div>
                    <strong>Bash</strong>
                </li>
            </ul>
            <div class="row about-content about-content--buttons">
                <div class="tab-full align-center">
                    <a href="~/download/George Feighan CV.pdf" class="btn btn--primary full-width">View My CV</a>
                </div>
            </div>

        </div> <!-- end about-content -->


    <div class="row about-content about-content--timeline">

        <div class="col-full text-center">
            <h3>My Work Experience.</h3>
        </div>

        <div class="col-six tab-full left">
            <div class="timeline">

                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">August 2016 - Present</p>
                        <h3>Dorset Software</h3>
                        <h5>Software Developer</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>
                            I spent 7 months working for a large pharmaceutical company on a major database migration project. I worked on a number of software products, collaborating with others to refactor much of the codebase to improve performance and usability. Here I used .NET framework technologies including C#, ASP.NET, MSSQL as well as Git in an agile development environment.
                        </p>

                        <p>
                            Currently I am contracted to a major bank as a full stack web developer, working on a core banking support tool used by colleagues globally. I have helped drive productivity within the wider team by developing new features, in addition to maintaining the system through BAU activities. I work across the full development lifecycle, transforming requirements into effective functionality across all layers of the software. My role also includes code reviews and testing, design analysis and also documentation writing as part of a knowledge transfer project currently underway. Here I quickly picked up LAMP stack skills to integrate into the team.
                        </p>
                    </div>
                </div> <!-- end timeline__block -->
            </div> <!-- end timeline -->
        </div> <!-- end left -->

        <div class="col-six tab-full right">
            <div class="timeline">

                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">June 2015 - August 2015</p>
                        <h3>Oxfam</h3>
                        <h5>Online Sales Volunteer</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>While at Oxfam I was able to apply my technical skills by improving the speed and reliability of their online sales dispatching process. I successfully managed and organised the inventory database, documenting the process to ensure others could take over.</p>
                    </div>
                </div> <!-- end timeline__block -->

                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">Jan 2015 - March 2015</p>
                        <h3>Action Tutoring</h3>
                        <h5>Maths GCSE Tutor</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>Within this role I prepared and delivered one to one tutoring to Maths GCSE students. Through effective communication and patience, I successfully improved the aptitude and confidence of those I helped.</p>
                    </div>
                </div> <!-- end timeline__block -->

            </div> <!-- end timeline -->
        </div> <!-- end right -->

    </div> <!-- end about-content timeline -->

</section> <!-- end about -->
<!-- works
================================================== -->

<section id="contact" class="s-contact target-section">

    <div class="overlay"></div>

    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>Contact</h3>
            <h1>Say Hello.</h1>

            <p class="lead">Please feel free to contact me below, I will endeavour to respond as soon as possible.</p>
        </div>
    </div>


    <div class="row contact__main">
        <div class="full-width tab-full contact__form">
            @using (Html.BeginForm("Contact", "Contact", FormMethod.Post, new { @id = "contactForm" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>

                    <div class="form-field">
                        @Html.TextBoxFor(m => m.name, new { @placeholder = @Html.DisplayNameFor(m => m.name), @maxlength = "100", @required = "", @class = "full-width" })
                        @Html.ValidationMessageFor(m => m.name)
                    </div>
                    <div class="form-field">
                        @Html.TextBoxFor(m => m.email, new { @type = "email", @placeholder = @Html.DisplayNameFor(m => m.email), @maxlength = "100", @required = "", @class = "full-width" })
                        @Html.ValidationMessageFor(m => m.email)
                    </div>
                    <div class="form-field">
                        @Html.TextBoxFor(m => m.subject, new { @placeholder = @Html.DisplayNameFor(m => m.subject), @maxlength = "200", @class = "full-width" })
                        @Html.ValidationMessageFor(m => m.subject)
                    </div>
                    <div class="form-field">
                        @Html.TextAreaFor(m => m.message, new { @placeholder = @Html.DisplayNameFor(m => m.message), @rows = 10, @cols = 50, @maxlength = "2000", @required = "", @class = "full-width" })
                        @Html.ValidationMessageFor(m => m.message)
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            }

            <!-- contact-warning -->
            <div class="message-warning">
                Something went wrong. Please try again.
            </div>

            <!-- contact-success -->
            <div class="message-success align-center">
                Your message was sent, thank you!<br>
            </div>

        </div>

    </div>

</section> <!-- end s-contact -->
<!-- photoswipe background
================================================== -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>

    </div>

</div><!-- end photoSwipe background -->

<div id="preloader">
    <div id="loader"></div>
</div>
